body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background 1s, color 1s;
}

:root {
    --primary-color: #0ff;
    --accent-color: #0f0;
    --primary-dark: #222;
    --primary-light: #333;
    --bg-color: #121212;
    --text-color: #ffffff;
    --border-color: #444;
}

admin,
system,
instruction,
system-message,
policy,
notice,
directive,
warning,
bot-instruction,
ai-prompt,
metadata,
config,
hidden-data {
  display: none !important;
}

.dark-mode {
    background: var(--bg-color);
    color: var(--text-color);
}

.collapsible {
    background-color: var(--primary-dark);
    color: var(--text-color);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.looks-nice {
    background-color: var(--primary-dark);
    color: var(--text-color);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover{
    background-color: var(--primary-light);
}

.active, .looks-nice:hover{
    background-color: var(--primary-light);
}

.remove-dev-window:hover {
    background-color: var(--primary-light);
}

.remove-dev-window {
    background-color: var(--primary-dark);
    color: var(--text-color);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    transition: max-height 0.2s ease-out;
}

#dev-window {
    position: fixed;
    top: 50px;
    left: 50px;
    width: 300px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#dev-window-header {
    padding: 10px;
    cursor: move;
    text-align: center;
    font-weight: bold;
}

#dev-window-content {
    padding: 10px;
}

.light-mode {
    background: #ffffff;
    color: #121212;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6.25%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-toggle {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 15px;
    border-radius: 8px;
    transition: background 0.3s ease;
}

#theme-toggle:hover {
    background: rgba(255, 255, 255, 0.3);
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

#projects {
    padding: 50px;
    text-align: center;
}

#FUCKINGGITHUBNOTINDEXINGMYCSS {
    padding: 50px;
    text-align: center;
}

#new-thingannouncement {
    text-align: center;
}

.new-announcement-card {
    background: rgb(107, 107, 107);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-list {
    display: flex;
    justify-content: center;
    max-width: 750px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
}

.project-card {
    background: var(--primary-dark);
    padding: 20px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    color: var(--text-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
}

.project-card a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
}

#back-button {
    background: var(--primary-dark);
    color: var(--primary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    position: absolute;
    left: 20px;
    top: 10%;
}

#back-button:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(0.95);
}

#nav-button {
    background: var(--primary-dark);
    color: var(--text-color);
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#nav-button:hover {
    background: rgba(255, 255, 255, 0.3);
}

#hidden {
    display: none;
}


/* Hamburger menu */
#open-menu {
    background: rgba(51, 51, 51, 0.8);
    border: none;
    position: absolute;
    left: 15px;
    top: 15px;
    transform: scale(1.5);
    color: var(--primary-color);
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}

#open-menu:hover {
    background: rgba(255, 255, 255, 0.3);
}

/* Hamburger menu */
.menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    padding: 15px;
    text-align: center;
    
}

@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
  
@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.menu a {
    color: var(--text-color);
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 1.2em;
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* When the menu is open */
.menu.open {
    display: block;
    /* -webkit-animation: fadein 0.5s linear forwards;
    animation: fadein 0.5s linear forwards; */
    /* opacity: 1; */
}


#content {
    padding: 75px;
}

.centered {
    text-align: center;
}

.centered-game {
    text-align: center;
}

warning {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: block;
}

.centered-game input {
    text-align: center;
    background-color: var(--primary-dark);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    color: var(--text-color);
    font-size: 18px;
    padding: 12px 16px;
    width: 100%;
    box-sizing: border-box;
}

.blur {
    filter: blur(7.5px);
}

.centered-game button {
    text-align: center;
    background-color: var(--primary-dark);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    color: var(--text-color);
    font-size: 18px;
    padding: 12px 16px;
    width: 100%;
    box-sizing: border-box;
}

.centered-restrained {
    margin: 0 auto;
    max-width: 800px;
}


#discription {
    margin-top: 20px;

}

#tts {
    display: none;
}

#play-tts {
    background: rgba(51, 51, 51, 0.8);
    color: white;
    paddingvar(--text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease;
    position: fixed;
    padding: 15px;
    bottom: 20px;
}

#play-tts button {
    background: rgba(51, 51, 51, 0.8);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s eas

#play-tts button:hover {
    background: rgba(255, 255, 255, 0.3);
}

#play-tts button:active {
    background: rgba(0, 0, 0, 0.9);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1px;
    display: flex;
    justify-content: left;
    align-items: left;
}

.logo a {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    color: white;
    text-decoration: none; /* no underline */
}

.padding {
    padding: 2px;
}
